server {
	listen		80;
	server_name	wishlify.ru;

	location / {
		proxy_pass		http://85.193.86.112:3000;

		proxy_set_header	Host wishlify.ru;
	}
}

server {
	listen		80;
	server_name	about.wishlify.ru;

	location / {
		rewrite		/ https://tsivinsky.notion.site/Wishlify-1f11ca5e1df847ccab5ba2b243f2c6ab;
	}
}
