@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --header-height: 69px;
}

html {
  scrollbar-gutter: stable;
}

@layer utilities {
  .h-header {
    height: var(--header-height);
  }

  .min-h-screen-without-header {
    min-height: calc(100vh - var(--header-height));
  }
}
